/* A CSS Framework by Mike Stenhouse of Content with Style - customized by Saeid Moradi*/

div#content 
	{
	position: relative;
	width: 849px;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: left;
	}
div#main
	{
	float: left;
	width: 630px;
	display: inline;
	padding-left: 5px;
	min-height: 312px;
	}
div#nav 
	{
	float: left;
	width: 191px;
	}
/* END CONTENT */